body{
  user-select: none;
  background-image: url(png/bg_image.png)
}
.btn{
  margin-top: 5px;
}
.col{
  margin-bottom: 10px;
}
.container{
  font-size: 15px;
}
.item{
  width: 288px;
}
